.jumbotron{
  text-align: center;
  font-size: 100px;
  background-color: #F4ECF7;

}

body{
  background-color: #D4E6F1;
}

.well{
  background-color: #F4ECF7;
}
input[type=text2] {
  width: 900px;
  height: 200px;
}
